<div class="container-about">

  <h1>About Me</h1>
  <hr class="hr1">
  <h2>Creative and passionate about music, I started learning to play the guitar and took my first steps in music
    production during my teenage years. Thanks to this passion, which eventually turned into a profession, I got
    introduced to the world of web development. For a few years now, I've been collaborating with a company specialized
    in
    marketing and web design as an audio and video technician.
    <br>
    <br>

    Seeing their projects and works motivated me to learn more, and that's how I started the EPICODE mastercamp for
    Frontend development. There, I worked on numerous projects and independently built a capstone project—an application
    for searching and downloading samples and sounds for music production.
    <br>
    <br>

    In addition to what I've already mentioned, I've also worked abroad in the hospitality sector, in both London and
    Vienna. These experiences not only enhanced my linguistic abilities but also contributed significantly to my
    personal
    growth.
    <br>
    <br>

    I'm ready to bring all my professional and cultural background into a new, exciting challenge that allows me to
    further develop and enhance my skills.
  </h2>
  <hr class="hr2">
</div>