<div class="container-education">
  <div class="title">
    <h1>Education</h1>
    <span class="material-symbols-outlined">
      school
    </span>
  </div>
  <hr class="hr2">
  <p>March 2023 - July 2023</p>
  <h3>EPICODE - Remote </h3>
  <h2>Front end Development</h2>
  <p>The course, focused on Front End development of web applications, allowed me to acquire skills such as <b>
      HTML</b>, <b>SCSS</b> ,
    <b> JavaScript</b>, <b> TypeScript</b>, and the <b> Angular</b> framework.
    <br>
    Through teamwork, I successfully completed 3 projects, 2 of which I led as a <b> team leader</b>, developing remote
    teamwork
    skills using the Agile methodology.
    <br>
    At the end of the program, I conceived, developed, and then presented an application using the following
    technologies.
  </p>
  <a target="_blank" href="https://github.com/gabritonce/ANGULAR-it-s-Sample-CapstoneFinale-Gabriel-Toncelli">Final
    Project Code</a>
  <br>
  <a target="_blank" href="https://benchmark.epicode.com/credentials/64ba40d37b703704ef47545e">EPICODE Certificate</a>


  <hr class="hr-block">
  <p>2009 - 2014</p>
  <h3>Istituto Alberghiero “G. Minuto”, Marina di Massa (MS)</h3>
  <h2>Diploma in Tourism Operator</h2>

  <hr class="hr-block">


</div>


<div class="container-experience">
  <div class="title">
    <h1>Professional Experience</h1>
    <span class="material-symbols-outlined work">
      work
    </span>
  </div>
  <hr class="hr1">
  <p>April 2020 - Now</p>
  <h3>I Sarti del Web l Bologna (BO)</h3>
  <h2>Audio-video technician</h2>
  <ul>
    <li>Implemented business processes for various clients in the marketing sector </li>
    <li> Created, directed, and produced a podcast about the podcasting industry, featuring over 10 experts and
      reaching
      over 11,000 listens.</li>
    <li> Produced over 500 contents on platforms like Spreaker and Kajabi.</li>
  </ul>

  <hr>


  <p>2014 - Now</p>
  <h2>Waiter/Barista</h2>
  <p>Throughout my career, I have acquired a wide range of skills and knowledge that have made me a valuable team member
    and enabled me to provide excellent customer service.</p>
  <ul>
    <li>Ability to handle customer needs and provide courteous and attentive service. </li>
    <li> Ability to manage stressful situations calmly and focused.</li>
    <li> Ability to work with diverse individuals and handle unexpected situations.
    </li>
    <li> Ability to adapt to international environments due to work experiences in London and Vienna.
    </li>
  </ul>

  <hr>
</div>